#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #3b2a9f;
  color: white;
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

.headTxt {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 36px;
  font-weight: bolder;
}

.form-place {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
  margin-bottom: 128px;
}

.fill-out{
    font-size: 30px;
}

.name-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input{
    background-color: #3b2a9f;
    border: 1px solid black;
    padding: 10px 50px 10px 10px;
    border-radius: 20px;
}

::placeholder{
    color: white;
    opacity: 60%;
}

.start-game{
  background-color: #FA8305;
  width: 220px;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  margin-bottom: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.provedBy {
  color: #fa8305;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 36px;
}
