@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
  }

.square{
    font-family: poppins;
    width: 170px;
    height: 170px;
    background-color: #1C140F;
    color: white;
    border-radius: 15px;
    font-size: 45px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}