#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #3b2a9f;
  color: white;
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

.headTxt {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bolder;

}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}

.start{
  background-color: #FA8305;
  width: 220px;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 50px;
  margin-bottom: 36px;
}

.scores{
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.provedBy{
  color: #FA8305;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 36px;
}